---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<li><b>Teaching.</b>  In the Winter of 2016, I was the TA
for <a href="http://ttic.uchicago.edu/~kgimpel/teaching/31190/index.html">Natural Language Processing</a>
</li> </ul>
<ul>
<li><b>Teaching.</b>  In the Spring of 2018, I was the TA
for <a href="http://ttic.uchicago.edu/~kgimpel/teaching/31190-s18/index.html">Natural Language Processing</a>
</li>

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
